.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkgrey;
}

.canvas {
  border: 2px solid black;
  background-color: white;
}

.cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkgrey;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
